body {
    background-image:url('/map.png');
    background-repeat : repeat-x;
    height: 200px;
    width: 800px;
    background-color: lawngreen;
   overflow: hidden;
}

#mainTitle {
    position: absolute;
    color: red;
    text-align: justify;
    top: 450px;
    left: 38%;
}

#bird {
    position: absolute;
    background-color: transparent;
    top: 300px;
    left: 250px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: silver;
    z-index: 999;
}

#imgBird {
    background-image: url('/bird.png');
    width: 50px;
    height: 50px;
    z-index: 999;
}

#startButton {
    background-color: salmon;
    border: 3px solid #000;
    border-radius: 14px;
    width: 100px;
    height: 66px;
    position: absolute;
    left: 100px;
    top: 500px;
}

#jumpButton {
    background-color: salmon;
    border: 3px solid #000;
    border-radius: 14px;
    width: 100px;
    height: 66px;
    position: absolute;
    left: 1200px;
    top: 500px;
}

#userName {
    width: auto;
    height: 30px;
    position: absolute;
    left: 570px;
    top: 500px;
}

#score {
    width: auto;
    height: 30px;
    position: absolute;
    left: 610px;
    top: 530px;
}

blockquote {
    width: 200px;
    height: 12px;
    position: relative;
    top: 600px;
    left: 525px;
    align-content: center;
}

.img {
    background-color: black;
    width: 50px;
    height: 50px;
}

#imgMap{
    width: 1920px;
    height: 370px;
}
.marquee {
    /*position: relative;*/
    width: 1920px;
    max-width: 100%;
    height: 470px;
    overflow-x: hidden;

  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
    margin-top: 20px;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  